* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../img/mesa2.jpg);
    background-size: 100%;
}

body{
    background-color: #e0dddd;
    opacity: 0.7;
    margin:0 auto;
    max-width:1400px;
    min-height:1000px;
}

#scroll {
    cursor: default;
    overflow: scroll;
    height: auto;
}