<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/crear_cuenta.css">
    <link rel="icon" type="image/png" href="../img/icon1.png">
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
    <!--<link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>
        Café con preguntas
    </title>
</head>

<body>

    <header>
        <h1>Café con preguntas</h1>
    </header>

    <form action="/login/crearCuenta" method="POST">
        Correo*: <br><input type="email" name="mail" required><br> Contraseña* (Debe tener entre 7 y 16 caracteres y el primero tiene que ser una letra):<br><input type="password" name="pass" minlength="4" required><br> Confirmar contraseña*: <br>
        <input
            type="text" name="pass_confirm" minlength="4" required><br> Nombre para mostrar (Nick)*:<br><input type="text" name="nick" requiered> <br> Imagen del perfil:<br><input type="file" name="icon" accept="jpeg,png"><br>
            <input class="button" type="submit" value="Crear cuenta">
    </form>
    <a class="button" href="/login/login.html"> Iniciar sesion </a>
</body>

</html>