
    <header>
    
        <div id="cabecera">

            <div id="titulo">
                <a href="/usuarios/pag_principal.html">
                    <h1>Café con preguntas</h1>
                </a>
            </div>

            <div id="login">

                <img src=<%= perfil.imagen %> id="icon">
                <div id="usu">

                    <a title="Perfil" href=<%="/usuarios/perfil_usu/" + perfil.id %> >
                        <h3 id="nick">
                            <%= perfil.nombre %>
                        </h3>
                    </a>

                    <a class="button" href="/usuarios/logout" title="Cerrar sesion">
                        Cerrar sesión
                    </a>

                </div>
            </div>
        </div>

    </header>

