
/*------------ Caracteristicas propias ------------------------*/

#fondo{
    margin-top: 2.5em;
    max-width:725px;
    margin-left: auto;
    margin-left: 20%;
    text-align: left;
    font-size: 20px;
    font-family: 'VT323', monospace;
}

#estadisticas{
    margin: 1em 0.5em 0.5em 0.5em;
    width: 100%;
    display: flex;
    font-family: 'VT323', monospace;
}

#perfil{
    word-wrap: break-word;
    float: left;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px rgb(104, 104, 104);
    background-color: white;
    text-align: center;
    margin: 0.25em;
}

#imagen_usu{
    width: 50px;
    height: 50px;
    padding: 15px;
}

#perfil_ranking{
    text-align: center;
    float: left;
    width: 70%;
}

.barra{
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px rgb(104, 104, 104);
    text-align: center;
    background-color: #a57d4a;
}

#ranking{
    margin: 1em 0.5em 0.5em 0.5em;
    border: 1px solid black;
    height: 50%;
}

table{
    margin: 1em 0.5em 0.5em 0.5em;
    width: 100%;
    text-align: center;
}

td{
    height: 70px;
}

#medallas{
    font-family: 'VT323', monospace;
    margin: 1em 0.5em 0.5em 0.5em;
}

/*---------- grid layout -------------------------------*/

.grid_container {
    position: relative;
    margin-top:2em;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}

.box{
    list-style: none;
}

#oro{
    word-wrap: break-word;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px #947807;
    background-color: #ECC00D;
    text-align: center;
}

#plata{
    word-wrap: break-word;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px #797776;
    background-color: #ACA9A7;
    text-align: center;
}

#bronce{
    word-wrap: break-word;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border-radius: 10%;
    border: solid 2px #724c32;
    background-color: #9E6136;
    text-align: center;
}

/*----------------meritos ----------------*/

.num_medallas{
    list-style: none;
}

.merito{
    display: flex;
    float: left;
    width: 50%;
    background-color:#c2a878;
    border-radius: 10px;
    border: 2px solid black;
    color: #fff;
    font-size: 15px;
    padding: 10px 10px;
    cursor: pointer;
    margin: 0.25em 0.25em;
}
