
/*----------- caracteristicas propias -----------------*/


#titulo_usu{
    margin: 1em;
    text-align: center;
}
/*----------- filtrar por usuario --------------------*/

#boton_filtrar{
    
    width: 20%;
    background-color: #5b3924;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    font-family: 'VT323', monospace;
}

#filtrar{
    float:left;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    margin-left: 10em;
    margin-right: 1em;
    background-image: url(../img/buscar.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

/*---------- grid layout -------------------------------*/

.grid_container {
    position: relative;
    margin-top:2em;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    
}

.grid_container a{
    color: black;
}

/*--------------------------------------------------------*/

.card {
    margin: 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgb(104, 104, 104);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 12px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    text-align: center;
    padding: 2px 16px;
    margin-top: 0.2em;
  }

  /*------- ETIQUETAS ----------------------*/

.boton_etiqueta{
    
    background-color:#c2a878;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    padding: 5px 5px;
    cursor: pointer;
    width: 100%;
}

.boton_etiqueta:hover {
    background-color: #eec170;
    color: #fff;
}