* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../img/mesa2.jpg);
    background-size: 100%;
    font-family: 'VT323', monospace;
}

body {
    background-color: #e0dddd;
    opacity: 0.85;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 1000px;
}

a{
    text-decoration: none;
}

/*------------- header -------------------*/

header {
    margin:0 auto;
    border: solid 10px black;
    height: 150px;
}

#cabecera{
    display: inline-flex;
}

#titulo {
    
    padding: 30px;
    font-size: 35px;
    flex: left;
}

#titulo a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    cursor:pointer;
}

#login {
    flex: right;
    text-align: center;
    border-left: solid 10px black;
    height: 150px;
    margin-left: 150px;
}

#icon {
    width: 110px;
    height: 110px;
    float: left;
    padding: 15px;
}

#usu {
    font-size: larger;
    float: right;
    padding:20px;
}

#nick{
    padding: 15px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.button {
    background-color: #5b3924;
    border-radius: 4px;
    border: none;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-top: 1px;
    margin-right: 3px;
    padding: 10px 36px;
    cursor: pointer;
    font-family: 'VT323', monospace;
}

.button:hover {
    background-color: #eec170;
    color: #fff
}

/*----------- mantener nav y buscar fijas ------------*/

#fijo{
    position:sticky;
    top: 0;
}

/*----------- barra de navegacion --------------*/

nav{
    font-family: 'VT323', monospace;
    display: inline-block;
    border-left: solid 10px black;
    border-right:solid 10px black ;
    border-bottom: solid 10px black;
    width: 98.5%;
    height: 2.5em;
   
}

nav a:hover{
    background-color: #eec170;
    color:#fff;
}

/*---------- Barra de buscar ------------------*/

#boton_buscar{
    
    width: 10%;
    background-color: #5b3924;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    margin-top: 1em ;
    cursor: pointer;
    font-family: 'VT323', monospace;
}

#buscar{
    float:left;
    width: 80%;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    margin: 1em 2em;
    background-image: url(../img/buscar.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

/*----------- caracteristicas propias -----------------*/

#fondo{
    margin-top: 0.5em;
    max-width:725px;
    margin-left: auto;
    margin-left: 20%;
    text-align: left;
    font-size: 20px;
    font-family: 'VT323', monospace;
}

#titulo_usu{
    margin: 1em;
    text-align: center;
}
/*----------- filtrar por usuario --------------------*/

#boton_filtrar{
    
    width: 20%;
    background-color: #5b3924;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    font-family: 'VT323', monospace;
}

#filtrar{
    float:left;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    padding: 12px 20px 12px 40px;
    margin-left: 10em;
    margin-right: 1em;
    background-image: url(../img/buscar.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

/*---------- grid layout -------------------------------*/

.grid_container {
    position: relative;
    margin-top:2em;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    
}

.grid_container a{
    color: black;
}

/*--------------------------------------------------------*/

.card {
    margin: 0.25em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgb(104, 104, 104);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 12px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    text-align: center;
    padding: 2px 16px;
    margin-top: 0.2em;
  }

  /*------- ETIQUETAS ----------------------*/

.boton_etiqueta{
    
    background-color:#c2a878;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    padding: 5px 5px;
    cursor: pointer;
    width: 100%;
}

.boton_etiqueta:hover {
    background-color: #eec170;
    color: #fff;
}